#container-footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
    text-align: center;
    
}
#container-footer:hover {
    color: gray;
}

.icon {
    padding: 7px;
    color: white;
    transition: all 0.3s;
    border-radius: 10px;
}

.icon:hover {
    color: rgb(70, 70, 70);
    background-color: white;
}