#container-landing {
    text-align: center;
    
}
#hiIm {
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    color: white;
}

#myName {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 4em;
    color: white;
}

#me {
    
    width: 300px;
   
}