#container-port1,
#container-port2 {
    display: flex;
    justify-content: center;
}

#container-my-work {
    display: flexbox;
    padding: 50px;

}

.my-work-div {
    width: 250px;
    height: 250px;
    background-color: rgb(119, 117, 117);
    border-radius: 30px;
    padding: 10px;
    border: 3px inset rgb(211, 208, 208);
    transition: all 0.3s;
    display: flex;
    align-items: flex-end;
}

#f1:hover {
    background-color: black;
    color: white;
    border: 4px solid white;
    box-shadow: rgb(78, 78, 78) 7px 7px 10px;
}

#f2:hover {
    background-color: black;
    color: white;
    border: 4px solid white;
    box-shadow: rgb(78, 78, 78) 7px 7px 10px;
}

#f3:hover {
    background-color: black;
    color: white;
    border: 4px solid white;
    box-shadow: rgb(78, 78, 78) 7px 7px 10px;
}

#f4:hover {
    background-color: black;
    color: white;
    border: 4px solid white;
    box-shadow: rgb(78, 78, 78) 7px 7px 10px;
}

#f5:hover {
    background-color: black;
    color: white;
    border: 4px solid white;
    box-shadow: rgb(78, 78, 78) 7px 7px 10px;
}

#f6:hover {
    background-color: black;
    color: white;
    border: 4px solid white;
    box-shadow: rgb(78, 78, 78) 7px 7px 10px;
}

.work-name {
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
}

.links-work {
    color: rgb(63, 63, 63);
    padding: 3px;
    transition: all 0.3s;
}

.links-work:hover {
    color: white;
}

.icon-work {
    color: rgb(63, 63, 63);
    transition: all 0.3s;
}

.icon-work:hover {
    color: white;
}