body  {
    background-color: black;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    height: 75px;
}

.nav {
    text-decoration: none;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
}

#nav-about, #nav-port, #nav-res , #nav-con{
    border: 2px solid white;
    padding: 6px;
    border-radius: 10px;
    box-shadow: gray 4px 5px 3px;
    transition: all 0.3s;
}
#nav-about:hover {
    color: gray;
    background-color: white;
}

#nav-port:hover {
    color: gray;
    background-color: white;
}
#nav-res:hover {
    color: gray;
    background-color: white;
}
#nav-con:hover {
    color: gray;
    background-color: white;
}



#logo {
    padding-top: 20px;
    width: 200px;
    height: 200px;
}
